questionary==2.0.1
demjson3 == 3.0.6
numpy == 1.26.1
pytz == 2023.3.post1
faiss-cpu == 1.7.4
tiktoken == 0.5.1
pymupdf == 1.23.5
tqdm == 4.66.1
openai == 0.28.1
black == 23.10.1
pytest == 7.4.3
llama-index == 0.8.53.post3
setuptools == 68.2.2
datasets == 2.14.6
prettytable == 3.9.0
pgvector == 0.2.3
psycopg == 3.1.12
psycopg-binary == 3.1.12
psycopg2-binary == 2.9.9
huggingface-hub == 0.17.3
transformers == 4.34.1
pre-commit == 3.5.0
pg8000 == 1.30.3
torch ==2.0.0
websockets == 12.0
docstring-parser == 0.15
lancedb == 0.3.3