name: Basic check of main.py

on:
  push:
    paths:
      - 'main.py'

jobs:
  check_main:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: "Setup Python, Poetry and Dependencies"
      uses: packetcoders/action-setup-cache-python-poetry@main
      with:
        python-version: "3.12"
        poetry-version: "1.8.2"
        install-args: "--all-extras"

    - name: Run main.py with input
      run: |
        echo -e "\n\n\nn" | poetry run python main.py
