name: Endpoint (Ollama)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Start Ollama Server
      run: |
        curl -fsSL https://ollama.com/install.sh | sh
        ollama serve &
        sleep 10 # wait for server
        ollama pull dolphin2.2-mistral:7b-q6_K
        ollama pull mxbai-embed-large

    - name: "Setup Python, Poetry and Dependencies"
      uses: packetcoders/action-setup-cache-python-poetry@main
      with:
        python-version: "3.12"
        poetry-version: "1.8.2"
        install-args: "-E dev -E ollama"

    - name: Test LLM endpoint
      run: |
        poetry run pytest -s -vv tests/test_endpoints.py::test_llm_endpoint_ollama

    - name: Test embedding endpoint
      run: |
        poetry run pytest -s -vv tests/test_endpoints.py::test_embedding_endpoint_ollama
