name: Run All pytest Tests

env:
  PGVECTOR_TEST_DB_URL: ${{ secrets.PGVECTOR_TEST_DB_URL }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build and run container
      run: bash db/run_postgres.sh

    - name: Run Qdrant
      run: |
        docker run -d --rm --network=host qdrant/qdrant:v1.8.3
        until curl --silent --fail http://localhost:6333/readyz; do
        echo "Waiting for Qdrant server"
        sleep 5
        done
        echo "\nQdrant server started!"

    - name: "Setup Python, Poetry and Dependencies"
      uses: packetcoders/action-setup-cache-python-poetry@main
      with:
        python-version: "3.11"
        poetry-version: "1.7.1"
        install-args: "--all-extras"

    - name: Run server tests
      env:
        PGVECTOR_TEST_DB_URL: postgresql+pg8000://memgpt:memgpt@localhost:5432/memgpt
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        MEMGPT_SERVER_PASS: test_server_token
      run: |
        poetry run pytest -s -vv tests/test_server.py

    - name: Run tests with pytest
      env:
        PGVECTOR_TEST_DB_URL: postgresql+pg8000://memgpt:memgpt@localhost:5432/memgpt
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        MEMGPT_SERVER_PASS: test_server_token
        PYTHONPATH: ${{ github.workspace }}:${{ env.PYTHONPATH }}
      run: |
        poetry run pytest -s -vv -k "not test_storage and not test_server and not test_openai_client" tests

    - name: Run storage tests
      env:
        PGVECTOR_TEST_DB_URL: postgresql+pg8000://memgpt:memgpt@localhost:5432/memgpt
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        MEMGPT_SERVER_PASS: test_server_token
      run: |
        poetry run pytest -s -vv tests/test_storage.py
